<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MantisSubmit2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <MantisSubmit2.Properties.Settings>
            <setting name="MantisConnectUrl" serializeAs="String">
                <value>http://mantis.nettype.net/api/soap/mantisconnect.php</value>
            </setting>
            <setting name="MantisUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="MantisPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="HttpAuthUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="HttpAuthPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProject" serializeAs="String">
                <value />
            </setting>
            <setting name="LastProductVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastTargetVersion" serializeAs="String">
                <value />
            </setting>
            <setting name="LastCategory" serializeAs="String">
                <value />
            </setting>
            <setting name="LastSeverity" serializeAs="String">
                <value />
            </setting>
            <setting name="LastReproducibility" serializeAs="String">
                <value />
            </setting>
            <setting name="LastWindowWidth" serializeAs="String">
                <value>756</value>
            </setting>
            <setting name="LastWindowHeight" serializeAs="String">
                <value>756</value>
            </setting>
        </MantisSubmit2.Properties.Settings>
    </userSettings>
</configuration>